body {
    background-color: #ebebeb !important;
}
#menuGear{
    background-color: #ebebeb!important;
    border:#dedede solid 1px;
    border-radius: 5px;
    margin-top: 10px;

}

a{
    text-decoration: none;
}

#playerMenu{
    background-color: #f8f9fa;
}

#leftDiv{
    background-color: #f8f9fa00;
    border-color:#f8f9fa00 ;

}
#centerDiv{
    background-color: #f8f9fa00;
    border-color:#f8f9fa00 ;

}
#rightDiv{
    background-color: #f8f9fa;
    border-color:#f8f9fa00 ;

}

.form-control:focus {
    border-color: rgba(126, 126, 126); /* optional: change border color on focus */
    box-shadow: 0 0 0 0.25rem rgba(126, 126, 126, 0.25); /* change box shadow on focus */
  }
  